:root{
    --primary:#049DBF;
    --secoundary:black;
    --third:rgb(247, 241, 241);
}
body{
    margin:0;
    
}
nav{
    background-color: var(--secoundary);
    color:white;
    padding:2px;
    margin:0;
}
nav h1{
    padding:0rem 1rem;
}
img{
    height: 400px; 
    margin: 2% 30% 2% 38%;
} 
.smurf-bg{
    background-color: var(--primary);
    padding:20px;
}
.qoute{
    text-align: center;
    background-color: var(--third);
    margin:0;
    padding:15px;
}
input{
    background-color: white;
    height: 5rem;
    width: 30rem;
     margin: 2% 30% 2% 38%;
    border:2px solid black;
    font-size: 15px;
    text-align: center;
    
}

button{
margin: 2% 45% 2% 49%; 
padding:15px;
border-radius: 1rem;
border:2px solid black;
font-weight: bold;
background-color: rgb(248, 86, 86);
box-shadow: 1px 2px 3px 0.5px rgb(56, 53, 53);
}
.output{
    background-color: white;
    height: 3rem;
    width: 28rem;
    border:2px solid black;
    margin: 0.5% 36% 2% 38%; 
    font-size: 15px;
    text-align: center;
   padding: 1rem;
}
.joy-txt{
color: black;
font-weight: bold;
font-size: 20px;
text-align: center;
}
@media screen and (max-width:800px)
{
img{
    margin:5px 5px;
    height: 250px; 

}

input{
    margin:5px 5px; 
    height: 4rem;
    width: 20rem;
}
.output{
    margin:5px 5px;
    height: 2rem;
    width: 18rem; 
}
button{
    margin:1rem 8rem;
}
}
.foot{
    background-color: black;
    color: white;
    padding:0px 0 1px 0;
    margin:0;
    
}
.foot p{
    padding: 0px;
    font-size: 25px;
    color: white;
    margin: 0px;
}
 .link img{
     background-color: var(--third);
     height: 30px;
     width: 30px;
     padding:5px;
     border-radius: 1rem;
     margin:0;
 } 
 .initem{
   display:inline;
 padding:0px 10px;
 margin:0;
 }
 .item{
    text-decoration: none;
 }
 .link{
    text-decoration: none;
    text-align: center;
    padding:15px 0 0 0;
}
.note{
    background-color: var(--third);
    padding:15px;
}
